<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>option page</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <header>
        <h1 id="name">Track Tech</h1>
    </header>

    <div id="background-container">
        <div class="options-container">
            <h2>Choose an Option</h2>
            <form action="/stations" method="get">
                <div class="option">
                    <button type="submit">Book Train Ticket</button>
                </div>
            </form>
            <form action="/display" method="get">
                <div class="option">
                    <button type="submit">Check Ticket</button>
                </div>
            </form>
            <form action="/bus" method="get">
                <div class="option">
                    <button type="submit">Check Bus Status</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
