<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>option page</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>

    <header>
        <h1 id="name">Track Tech</h1>
        <!-- <nav>
            <a href="#" class="header-link">Login</a>
            <a href="#" class="header-link">Signup</a>
        </nav> -->
    </header>

    <div id="background-container">
        <div class="options-container">
            <h2>Choose an Option</h2>
            <div class="option">
                <a href="#" class="option-link">Book Train Ticket</a>
            </div>
            <div class="option">
                <a href="#" class="option-link">Check Ticket</a>
            </div>
            <div class="option">
                <a href="#" class="option-link">Check Bus Status</a>
            </div>
        </div>
    </div>

</body>
</html>
