<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <header>
       <h1>Track Tech</h1>
    </header>
    
    <div id="background-container">
        <div class="form-container">
            <!-- Add your login and signup forms here -->
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button class="button" type="submit">Login</button>
            </form>
            <form action="/signup" method="get">
                <button type="submit" class="submit-button">Not a user? <span class="blue">Signup</span></button>
            </form>
        </div>
    </div>

</body>
</html>
