<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Trains</title>
    <link rel="stylesheet" href="css/search_trains.css">
</head>
<body>

    <div class="search-container">
        <h2>Search Trains</h2>
        <form action="/trains" method="post">
            <div class="form-group">
                <label for="from">From:</label>
                <select id="from" name="from" required>
                    <option value="" disabled selected>Select origin</option>
                    <%stations.forEach((station) => {%>
                    <option value=<%=station.dataValues.sname%>><%=station.dataValues.sname%></option>
                    <%})%>
                    <!-- Add more cities as needed -->
                </select>
            </div>

            <div class="form-group">
                <label for="to">To:</label>
                <select id="to" name="to" required>
                    <option value="" disabled selected>Select origin</option>
                    <%stations.forEach((station) => {%>
                    <option value=<%=station.dataValues.sname%>><%=station.dataValues.sname%></option>
                    <%})%>
                </select>
            </div>
            
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
            </div>

            <button type="submit">Search</button>
        </form>
    </div>
</body>
