*{
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../pics/Untitled\ design.png);
}

.train-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

button{
    padding: 5px;
    background-color: rgb(142, 238, 142);
    border-radius: 5px;
}
.counter {
    /* display: flex; */
    align-items: center;
}

.counter button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    margin: 0 5px;
}
